---
import Card from "../components/card.astro";
import Layout from "../components/layout.astro";
---

<Layout pageTitle="Services", pageDescription="Pagina de servicios">
  <h1>Services</h1>
  <p>En esta seccion ofrecemos los servicios que ofrecemos</p>

  <Card title="Diseño Web" description="Ofrecemos diceños para tu pagina web" />
  <Card
    title="Desarrollo Web"
    description="Creamos paginas web sobre tu emprendimiento"
  />
  <Card
    title="Optimización SEO"
    description="Optimizamos tu pagina web para que sea mas visible en los motores de busqueda"
  />
  <Card
    title="Marketing Digital"
    description="Desarrollamos estrategias de marketing para que tu emprendimiento sea mas visible"
  />
</Layout>
