---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem id voluptas ipsa dolores deserunt, animi reprehenderit fugit illo earum enim quis tempore aperiam, adipisci inventore facilis nam debitis blanditiis sit dolore impedit velit! Odio id tempora provident fugit vel adipisci, commodi natus quibusdam sequi accusamus maxime quos, dicta rerum. Voluptatum repellendus nostrum nesciunt aliquam numquam dicta voluptas, iure reprehenderit quam maiores exercitationem enim adipisci recusandae maxime. Minus eum tenetur et magni, commodi minima totam impedit repellendus at aliquid obcaecati dolores quos cumque, animi provident hic ea error iste. Fuga, dignissimos. Aperiam in minus nulla enim, magni provident cupiditate inventore neque?</p>
</Layout>