<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 conteiner pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cumque libero voluptatem facere nisi? Nostrum temporibus doloremque eos repellat commodi neque consequuntur magni non aliquid nobis obcaecati, eum molestias ratione repudiandae. Animi, culpa maxime nostrum ut magnam expedita doloremque dolorem consectetur earum, odio odit consequuntur nesciunt porro, numquam placeat minus cupiditate quibusdam reiciendis suscipit vel beatae. Hic dolorem quisquam aperiam quo laudantium alias officiis pariatur aspernatur natus quibusdam, ex laborum porro? Deserunt hic molestiae inventore minus quibusdam quas ipsam consectetur natus voluptas blanditiis quidem nisi necessitatibus voluptates ab eveniet neque id unde, amet, ratione voluptate consequuntur. Beatae suscipit modi officiis maxime porro quam soluta laboriosam odio ex saepe eum sint nobis unde praesentium tempore, magni similique inventore aliquam repellendus iste temporibus autem. Modi iure, voluptate qui eaque laboriosam praesentium animi, explicabo, nostrum error officia quod sed nemo amet quibusdam architecto possimus nobis tempora cupiditate. Dignissimos excepturi id saepe explicabo cupiditate dolore eaque officiis voluptas nisi praesentium omnis veritatis harum maiores, fuga deleniti asperiores sit iure. Reprehenderit deserunt magni nam excepturi amet reiciendis molestiae rerum ratione, dolor inventore at magnam natus facere quam aliquam quae. Repudiandae perspiciatis inventore ea cupiditate eveniet architecto, doloremque incidunt nisi minima hic quam voluptatem provident ab rem unde et magni deleniti error corrupti voluptate. Iusto sint doloremque voluptatum, magni nesciunt ipsa tempore corporis labore, harum maxime nemo! Minima modi quidem maxime aut pariatur perspiciatis asperiores! Quaerat sit, vel possimus quas reprehenderit modi fugiat dolor minus qui aut error ullam labore veritatis nesciunt animi facilis nam eius excepturi neque earum nisi? Quibusdam nobis repellat corrupti unde incidunt, delectus temporibus voluptatem asperiores quaerat animi adipisci commodi officiis, consequuntur inventore! Veniam, aut? Dolore nihil labore alias libero, adipisci eaque, quidem aut aspernatur ab dolor ad ipsum sapiente deleniti ut doloremque dolores temporibus beatae quaerat aliquam vel perferendis eos cumque!</p>
        </section>
    </main>
</body>
</html>